// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.index-container {
  background-image: asset_url('eat.jpg');
  // filter: brightness(35%);
  height: calc(100vh - 70px);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}



.home-button {
  background: rgb(128, 0, 0);
  font-size: 65px;
  padding: 30px 40px;
  border-radius: 10px;
  color: white;
  z-index: 1;
  margin-bottom: 40px;
  font-family: 'Abril Fatface', cursive;
}

.home-button:hover {
  text-decoration: none;
  color: white;
}

.thumbnail {
  margin-top: 60px;
}

.restaurant-title {
  text-align: center;
}

.con-nav {
  padding: 0px !important;
  height: 70px;
  background: black;
  color: white;
}

.navbar {
  height: 100%;
}

.navbar-nav {
  display: flex;
}

.pull-right {
  flex-direction: row !important;
  width: 200px;
  justify-content: flex-end;
}

.nav-right {
  list-style: none;
  display: flex;
  padding: 0px;
}

.nav-pad {
  padding: 10px;
}

.white-link {
  color: white;
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
}

.white-link:hover {
  color: #fd1d2d;
  text-decoration: none;
}

.home {
  color: white;
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
}

.home:hover {
  color: #fd1d2d;
  text-decoration: none;
}

.form-header {
  text-align: center;
  margin-top: 35px;
}

.new_user {
  text-align: center;
  margin-top: 40px;
}

.actions {
  margin-top: 20px;
}

.form-container {
  width: 400px !important;
  border: 1px solid black;
}